<launch>

    <!-- 将YAML文件中的参数加载到参数服务器 -->
    <!-- file="$(find YOUR_PACKAGE_NAME)/config/waypoints.yaml" 指定了YAML文件的路径 -->
    <!-- 需要将 YOUR_PACKAGE_NAME 替换为你的ROS包名 -->
    <!-- ns="global_waypoints_cruise" 指定了参数加载到的命名空间，与C++代码中的 private_nh("~") 对应 -->
    <rosparam command="load" file="$(find YOUR_PACKAGE_NAME)/config/waypoints.yaml" ns="global_waypoints_cruise" />

    <!-- 启动你的航点巡航节点 -->
    <!-- name="global_waypoints_cruise" 是节点名称 -->
    <!-- pkg="YOUR_PACKAGE_NAME" 是你的包名 -->
    <!-- type="global_waypoints_cruise_node" 是你的可执行文件名 (CMakeLists.txt中定义的) -->
    <!-- output="screen" 将节点的日志输出到终端 -->
    <node name="global_waypoints_cruise" pkg="YOUR_PACKAGE_NAME" type="global_waypoints_cruise_node" output="screen">
        <!-- 如果参数不是加载到私有命名空间，可以在这里用 <param> 标签单独设置 -->
        <!-- <rosparam param="waypoints"> -->
        <!--   - {latitude: 47.39783, longitude: 8.54616, altitude: 3.0, delay: 5.0} -->
        <!--   - {latitude: 47.39687, longitude: 8.54655, altitude: 4.0, delay: 10.0} -->
        <!-- </rosparam> -->
    </node>

    <!-- 也可以在这里启动 MAVROS 节点，如果它没有在别处启动 -->
    <!-- <include file="$(find mavros)/launch/px4.launch"> -->
        <!-- <arg name="fcu_url" value="/dev/ttyACM0:921600" /> -->
        <!-- <arg name="gcs_url" value="" /> -->
        <!-- <arg name="tgt_system" value="1" /> -->
        <!-- <arg name="tgt_component" value="1" /> -->
        <!-- <arg name="log_output" value="screen" /> -->
        <!-- <arg name="fcu_protocol" value="v2.0" /> -->
    <!-- </include> -->

</launch>