<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />   <!-- frame_id: "camera_odom_frame"  child_frame_id: "base_link" -->
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   
    <rosparam file="$(find ros_navigation)/param_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ros_navigation)/param_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ros_navigation)/param_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_navigation)/param_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_navigation)/param_base/move_base_params.yaml" command="load" />
    <rosparam file="$(find ros_navigation)/param_base/dwa_local_planner_params.yaml" command="load" />    

    <!--rosparam file="$(find robot_indoor)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_indoor)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_indoor)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_indoor)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_indoor)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_indoor)/param/dwa_local_planner_params.yaml" command="load" /-->
  </node>  


</launch>
